<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>status_message</title>
</head>

<body>
  <h3>Information</h3>

  <h4>..we've sent you a link to your email address. Please review and confirm your account.</h4>
  <a href="/login"> back to login </a>
</body>

</html>
